@model EveryPennyCounts.Models.FamilyMember

@{
    ViewData["PageTitle"] = Model.FamilyMemberId == 0 ? "Create a new family member" : "Edit family member";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="FamilyMemberId" value="@Model.FamilyMemberId" />
                <div class="mb-3">
                    <ejs-textbox id="name" placeholder="Name" ejs-for="Name"
                                 floatLabelType="Always" multiline="true"></ejs-textbox>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

@*@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}*@
